<template name="postEdit">
    <form class="main form page">
        <div class="form-group {{errorClass 'url'}}">
            <label class="control-label" for="url">URL</label>
            <div class="controls">
                <input name="url" id="url" type="text" value="{{url}}" placeholder="Y our URL" class="form-control" /> 
                <span class="help-block">{{errorMessage 'url'}}</span>
            </div>
        </div>
        <div class="form-group {{errorClass 'title'}}">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" id="title" type="text" value="{{title}}" placehol der="Name your post" class="form-control" /> 
                <span class="help-block">{{errorMessage 'title'}}</span>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary submit" />
        <hr/> 
        <a class="btn btn-danger delete" href="#">Delete post</a>
    </form>
</template>
