<template name="postItem">
	<div class="post">
        <a class="upvote btn btn-default glyphicon glyphicon-arrow-up {{upvotedClass}}" href="#" ></a>
		<div class="post-content">
			<h3>
				<a href="{{url}}">{{title}}</a>
				<span>{{domain}}</span>
			</h3>
			<p>
                {{pluralize votes "Vote"}},
                Submitted by {{author}},
                <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
                {{#if ownPost}} <a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
            </p>
		</div>
		<a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
	</div>
</template>