<template name="commentSubmit">
    <form name="comment" class="comment-form form">
        <div class="form-group {{errorClass 'body'}}">
            <div class="controls">
                <label for="body">
                    <textarea name="body" id="body" rows="3"></textarea>
                    <span class="help-block">{{errorMessage 'body'}}</span>
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
</template>