<template name="notifications">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Notifications
        {{#if notificationCount}}
            <span class="badge badge-inverse">{{notificationCount}}</span>
        {{/if}}
        <b class="caret"></b>
    </a>
    <ul class="notifications dropdown-menu">
        {{#if notificationCount}}
            {{#each notifications}}
                {{> notificationItem}}
            {{/each}}
        {{else}}
            <li><span>No notifications</span></li>
        {{/if}}
    </ul>
</template>

<template name="notificationItem">
    <li>
        <a href="{{notificationPostPath}}">
            <strong>{{commenterName}}</strong> commented on your post
        </a>
    </li>
</template>